Source: ros-groovy-nao-sensors
Section: misc
Priority: extra
Maintainer: Séverin Lemaignan <severin.lemaignan@epfl.ch>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-groovy-camera-info-manager, ros-groovy-catkin, ros-groovy-diagnostic-updater, ros-groovy-driver-base, ros-groovy-dynamic-reconfigure, ros-groovy-image-transport, ros-groovy-nodelet, ros-groovy-octomap, ros-groovy-roscpp, ros-groovy-sensor-msgs, ros-groovy-tf
Homepage: http://ros.org/nao
Standards-Version: 3.9.2

Package: ros-groovy-nao-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-groovy-camera-info-manager, ros-groovy-camera-info-manager-py, ros-groovy-diagnostic-updater, ros-groovy-dynamic-reconfigure, ros-groovy-image-transport, ros-groovy-nao-driver, ros-groovy-nodelet, ros-groovy-octomap, ros-groovy-roscpp, ros-groovy-rospy, ros-groovy-sensor-msgs, ros-groovy-tf
Description: ROS driver for miscellaneous sensors on NAO. Python bindings for camera, sonar and octomap C++: bindings for camera only (requires NAOqi to build)
